<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">LIBA API DOCUMENT</a>
			<form action="" class="navbar-search pull-left">
				<input id="search" ng-model="query" class="search-query input-xxlarge" type="text" placeholder="search path/description">
			</form>
		</div>
	</div>
</div>	
<div></div>
<div style="height:60px"></div>
<div class="container-fluid">
	<div>
        <div class="span7 card" ng-repeat="doc in docs | filter:query">
            <div class="row-fluid">
                <div class="span3 request-method">{{doc.requestMethod}}</div>
                <div class="span9 path">{{doc.path}} </div>
                <div class="span9 description">{{doc.description}}</div>
        	</div>
		</div>
	</div>
</div>